@use '../custom' as *;
@use '../components/mixins' as *;

.about {
    position: relative;
    overflow: hidden;
    padding-top: 6rem;
    @include flexCenter;

    &--text {
        margin-top: 3rem;

        .lead {
            color: $letter;

            @include media-breakpoint-up(lg) {
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }
    }

    img {
        height: 40vh;
        border-radius: 50%;
    }

    svg {
        position: absolute;
        top: -0.5%;
        width: 100%;
        opacity: 0.3;
    }

    @include media-breakpoint-up(lg) {
        min-height: 100vh;

        &--text {
            margin-top: 5rem;
        }

        &--image {
            @include flexCenter;
        }

        img {
            padding-top: 3rem;
            height: 50vh;
        }
    }
}