@use '../custom' as *;
@use '../components/mixins' as *;

.about {
    padding-top: 5rem;
    height: 80vh;
    background-color: $background-1;
    @include flexCenter;

    &--text {
        margin-top: 3rem;

        .lead {
            color: $titles;

            @include media-breakpoint-up(lg) {
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }
    }

    img {
        height: 40vh;
        border-radius: 50%;
    }


    @include media-breakpoint-up(lg) {
        height: 70vh;

        img {
            height: 50vh;
        }
    }

}