@use '../custom' as *;
@use '../components/mixins' as *;

.about {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding-top: 6rem;
    background-color: $gray;
    @include flexCenter;

    &--text {
        margin-top: 3rem;

        .lead {
            color: $titles;

            @include media-breakpoint-up(lg) {
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }
    }

    img {
        height: 40vh;
        border-radius: 50%;
    }

    svg {
        position: absolute;
        top: -3%;
        width: 100%;
        opacity: 0.3;
    }

    @include media-breakpoint-up(md) {
        svg {
            top: -4%;
        }
    }

    @include media-breakpoint-up(lg) {
        height: 80vh;

        img {
            height: 50vh;
        }

        svg {
            top: -20%;
        }
    }
}