@use '../custom' as *;
@use '../components/mixins' as *;

.contact {
    position: relative;
    padding: 1rem;
    background-image: url('/assets/fondo2.png');
    background-size: cover;
    background-repeat: no-repeat;

    p {
        font-weight: 300;
        font-size: 1.2rem;
        color: $gray;
    }

    &__form {
        margin-top: 2rem;
        border-radius: 20px;
    }

    .left {
        @include gradient;
        padding: 3rem 1rem 3rem 2rem;
        border-radius: 20px;
        color: white;
        position: relative;
        overflow: hidden;

        h3 {
            font-weight: 600;
        }

        p {
            margin-bottom: 3rem;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.75rem;
            color: $gray;
        }

        ul {
            margin-bottom: 5rem;

            li {
                font-size: 1.5rem;
                margin-bottom: 1.2rem;

                span {
                    font-size: 1.1rem;
                    margin-left: 0.75rem;
                    color: $white;
                }

                i {
                    color: $letter;
                }

                .fa-location-dot {
                    height: 24px;
                    width: 24px;
                }
            }
        }

        .icons-container {
            display: flex;

            .media-icon {
                margin-left: 0.75rem;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                @include flexCenter;

                a {
                    color: white;

                    i {
                        font-size: 24px;
                        color: $letter;
                    }
                }

                &:hover {
                    background-color: #f9949c;
                    transition: all 0.5s ease-in-out;

                    i {
                        color: #3e2093;
                    }
                }
            }
        }

        .circle {
            background-color: $letter;
            border-radius: 50%;
            height: 240px;
            width: 240px;
            position: absolute;
            bottom: -80px;
            right: -80px;
        }
    }
}

.right {
    padding: 3rem 1rem;

    input {
        border: none;
        border-bottom: 1px solid $gray-300;
        width: 80%;
    }
}


@include media-breakpoint-up(md) {
    .contact {

        p {
            font-size: 1.5rem;
        }

        .left {

            .icons-container {

                .media-icon {
                    margin-left: 2rem;

                    a {

                        i {
                            font-size: 2rem;
                        }
                    }
                }
            }

            .circle {
                height: 340px;
                width: 340px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .inputs {
            display: flex;
            justify-content: space-around;
        }
    }
}

@include media-breakpoint-up(lg) {
    .contact {

        .lead {
            padding: 0 5rem;
        }

        .left {

            .icons-container {

                .media-icon {
                    margin-left: 1.8rem;

                    a {

                        i {
                            font-size: 1.8rem;
                        }
                    }
                }
            }

            .circle {
                height: 240px;
                width: 240px;
            }
        }

        .right {

            input {
                width: 120%;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .right {

        input {
            width: 200%;
        }
    }
}