@use '../custom' as *; // Si no invoco el modulo, me tira error por el uso de variables 
@use '../components/mixins' as *;

footer {
    padding-top: 1rem;
    background-color: $footer;

    p {
        color: $gray;
    }

    .info {
        margin-right: 2rem;
    }

    .company-list {
        display: block;
        list-style-type: none;
        position: relative;

        li {
            margin-bottom: 0.5rem;
            text-decoration: none;

            a {
                color: $gray-300;
                text-decoration: none;

                &:hover {
                    color: $first-color;
                }
            }
        }
    }
}

// Copyright
.footer-bottom {
    background-color: $black;

    &__copy {
        color: $gray-600;
        font-weight: 400;

        a {
            color: $gray-300;
            text-decoration: none;

            &:hover {
                color: $first-color;
                text-decoration: underline;
            }
        }
    }
}