@use '../custom' as *;

.menu {

    img {
        height: 6rem;
    }

    ul {
        margin-top: 1rem;
    }

    li {
        padding: 0.25rem 0.8rem 0rem 0.8rem;

        :hover {
            color: $fourth-color !important;
        }

        a {
            color: $first-color !important;
            text-transform: capitalize;
            font-weight: 400;
            font-size: 1.3rem;
        }
    }
}