@use '../custom' as *; // Si no invoco el modulo, me tira error por el uso de variables 
@use '../components/mixins' as *;

// INTRO BTN
.btn-rounded {
    position: relative;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 700;
    margin: 0;
    border: 0.1rem solid rgba($white, 0.6);
    background-color: $white;
    color: $violet;

    a {
        font-weight: 500;
    }

    span {
        position: absolute;
        background-color: $violet;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;

        i {
            color: $white;
            font-size: 1rem;
            line-height: 2.5rem;
        }
    }

    &:hover {
        // @include gradient;
        background-color: $violet;
        color: $white;
        transition: all 0.5s ease-in-out;

        a {
            color: $white;
        }

        span {
            background-color: rgba($white, 0.6);

            i {
                color: $violet;
            }
        }
    }
}

// FROM BTN
#button[type="submit"] {
    display: block;
    padding: 10px 30px;
    font-size: 16px;
    background-color: $first-color;
    color: #fff;
    border: none;
    border-radius: 10px;
}

#button:disabled {
    pointer-events: none; //better than cursor: default;
    opacity: 0.65;
}