@use '../custom' as *; // Si no invoco el modulo, me tira error por el uso de variables 

// Gradient Mixin
@mixin gradient {
    background: linear-gradient(to right, rgba($violet, 0.9), rgba($green-1, 0.9));
}

@mixin gradientInverted {
    background: linear-gradient(to left, rgba($violet, 0.9), rgba($green-1, 0.9));
}

// Absolute Center Mixin
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Flex center
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Transition
@mixin transitionProp {
    transition-property: all;
    transition-duration: 1000ms;
}